body{font-family: 'Avenir Next', 'Avenir', 'Helvetica Neue', Helvetica, sans-serif;}
header{
	background-color: #222;
	color: #fff;
	padding: 30px;
	h1{
		font-size: 14px;
		font-weight: 700;
		text-transform: uppercase;
		letter-spacing: 4px;
		text-align: center;
	}
	img{
		width: 100%;
		max-width: 45px;
		margin: auto;
		display: block;
	}
}
section.main{
	max-width: 550px;
	margin: 50px auto;
	h2{
		padding: 10px;
		font-size: 14px;
		color: #333;
		font-weight: 700;
	}
	p{
		padding: 10px;
		font-size: 14px;
		color: #777;
		line-height: 2;
		a{
			color: #222;
			&:hover{color: #777;}
		}
	}
	table{
		width: 100%;
		border: 1px solid #ddd;
		margin: 10px;
		tr{
			td,
			th{
				background-color: #f4f4f4;
				text-align: left;
				color: #333;
				font-size: 14px;
				font-weight: 400;
				padding: 10px;
				border: 1px solid #ddd;
			}
			td{
				background-color: #fff;
				&:hover{
					background-color: #FFFBC3;
				}
			}
		}
	}
}